<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.FeedBackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.FeedBack">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="remark" property="remark"/>
        <result column="content" property="content"/>
        <result column="path" property="path"/>
        <result column="contact_info" property="contactInfo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id,flag,created_by, created_date, modified_by, modified_date,remark,
       content,path,contact_info
    </sql>

    <select id="selectPage" resultType="com.hoioy.jiayin.domain.FeedBack">
        select
        <include refid="Base_Column_List"/>
        from
        jiayin_advert u
        where u.flag=1
        <if test="feedBackDTO.createdBy != null and feedBackDTO.createdBy != ''">
            AND u.created_by = #{feedBackDTO.createdBy}
        </if>
        <if test="feedBackDTO.createdDate != null and feedBackDTO.createdDate != ''">
            AND u.created_date = #{feedBackDTO.createdDate}
        </if>
        <if test="feedBackDTO.modifiedBy != null and feedBackDTO.modifiedBy != ''">
            AND u.modified_by = #{feedBackDTO.modifiedBy}
        </if>
        <if test="feedBackDTO.modifiedDate != null and feedBackDTO.modifiedDate != ''">
            AND u.modified_date = #{feedBackDTO.modifiedDate}
        </if>
        <if test="feedBackDTO.content != null and feedBackDTO.content != ''">
            AND u.content = #{feedBackDTO.content}
        </if>
        <if test="feedBackDTO.icon != null and feedBackDTO.icon != ''">
            AND u.icon = #{feedBackDTO.contactInfo}
        </if>
        <if test="feedBackDTO.path != null and feedBackDTO.path != ''">
            AND u.path = #{feedBackDTO.path}
        </if>
    </select>
</mapper>
