<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.Message">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="openid" property="openid" />
        <result column="msg_type_id" property="msgTypeId" />
        <result column="msg_type_name" property="msgTypeName" />
        <result column="content" property="content" />
        <result column="views" property="views" />
        <result column="status" property="status" />
        <result column="expare_time" property="expareTime" />
        <result column="contacts" property="contacts" />
        <result column="contact_phone" property="contactPhone" />
        <result column="created_date" property="createdDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        msg.id, msg.openid,
        title, content, views, status, expare_time, contacts, contact_phone,msg.created_date,type_name as msg_type_name,mst.id as msg_type_id
    </sql>

    <select id="selectPage" resultType="com.hoioy.jiayin.domain.Message">
        select
           <include refid="Base_Column_List" />
        from
        jiayin_message msg
        left join jiayin_msg_type mst  on msg.msg_type_id=mst.id
        where msg.flag=1 and msg.status=1
        <if test="message.msgTypeParentId != null and message.msgTypeParentId != ''">
            AND mst.parent_id=#{message.msgTypeParentId}
        </if>
        <if test="message.title != null and message.title != ''">
            AND msg.title = #{message.title}
        </if>
        <if test="message.msgTypeId != null and message.msgTypeId != ''">
            AND msg.msg_type_id = #{message.msgTypeId}
        </if>
        <if test="message.content != null and message.content != ''">
            AND msg.content = #{message.content}
        </if>
        <if test="message.views != null and message.views != ''">
            AND msg.views = #{message.views}
        </if>
        <if test="message.status != null and message.status != ''">
            AND msg.status = #{message.status}
        </if>
        <if test="message.expareTime != null and message.expareTime != ''">
            AND msg.expare_time = #{message.expareTime}
        </if>
        <if test="message.contacts != null and message.contacts != ''">
            AND msg.contacts = #{message.contacts}
        </if>
        <if test="message.contactPhone != null and message.contactPhone != ''">
            AND msg.contact_phone = #{message.contactPhone}
        </if>
    </select>
</mapper>
