<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MsgCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.MsgCollect">
        <result column="id" property="id" />
        <result column="msg_title" property="msgTitle" />
        <result column="openid" property="openid" />
        <result column="msg_type_id" property="msgTypeId" />
        <result column="created_date" property="createdDate" />
        <result column="msg_id" property="msgId" />
        <result column="msg_table_name" property="msgTableName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Page_Column_List">
        collect.id,collect.created_date,collect.flag,collect.created_by, collect.modified_by, collect.modified_date,collect.remark,
        collect.openid,collect.msg_title, collect.msg_type_id, collect.msg_id, collect.msg_table_name,
        mst.type_name as msg_type_name,mst.id as msg_type_id,mst.color as msg_type_color
    </sql>

    <select id="selectPage" resultType="java.util.Map">
        select
           <include refid="Page_Column_List" />
        from
           jiayin_msg_collect collect
        left join jiayin_msg_type mst on collect.msg_type_id=mst.id
        where
        collect.flag=1
        <if test="msgCollect.msgId != null and msgCollect.msgId != ''">
            AND msg_id = #{msgCollect.msgId}
        </if>
    </select>
</mapper>
