<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MsgDraftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.MsgDraft">
       <result column="id" property="id" />
        <result column="msg_title" property="msgTitle" />
        <result column="openid" property="openid" />
        <result column="msg_type_id" property="msgTypeId" />
        <result column="created_date" property="createdDate" />
        <result column="msg_id" property="msgId" />
        <result column="message_type" property="messageType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        draft.id,draft.created_date,draft.flag,draft.created_by, draft.modified_by, draft.modified_date,draft.remark,
        draft.msg_title, draft.msg_id, draft.message_type,
        mst.type_name as msg_type_name,mst.id as msg_type_id,mst.color as msg_type_color
    </sql>

    <select id="selectPage" resultType="java.util.Map">
        select
           <include refid="Base_Column_List" />
        from
           jiayin_msg_draft draft
        left join jiayin_msg_type mst on draft.msg_type_id=mst.id
        where
        draft.flag=1
        <if test="msgDraft.msgTitle != null and msgDraft.msgTitle != ''">
        AND draft.msg_title = #{msgDraft.msgTitle}
       </if>
        <if test="msgDraft.openid != null and msgDraft.openid != ''">
            AND draft.openid = #{msgDraft.openid}
        </if>
        <if test="msgDraft.msgTypeId != null and msgDraft.msgTypeId != ''">
            AND mst.msg_type_id = #{msgDraft.msgTypeId}
        </if>
        <if test="msgDraft.msgId != null and msgDraft.msgId != ''">
            AND draft.msg_id = #{msgDraft.msgId}
        </if>
        <if test="msgDraft.messageType != null and msgDraft.messageType != ''">
            AND draft.message_type = #{msgDraft.messageType}
        </if>
    </select>

    <delete id="removeByUserNameAndMsgId"   >
        DELETE FROM jiayin_msg_draft WHERE openid=#{openid} and msg_id=#{msgId} and message_type =#{messageType} ;
    </delete>
</mapper>
