<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MsgDraftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.MsgDraft">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="openid" property="openid" />
        <result column="msg_type" property="msgType" />
        <result column="content" property="content" />
        <result column="views" property="views" />
        <result column="status" property="status" />
        <result column="contacts" property="contacts" />
        <result column="contact_phone" property="contactPhone" />
        <result column="created_date" property="createdDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,openid,
        title, msg_type, content, views, status, contacts, contact_phone,version,created_date
    </sql>

    <select id="selectPage" resultType="com.hoioy.jiayin.domain.MsgDraft">
        select
           <include refid="Base_Column_List" />
        from
           jiayin_msg_draft
        where
           flag=1
        <if test="msgDraft.title != null and msgDraft.title != ''">
            AND title = #{msgDraft.title}
        </if>
        <if test="msgDraft.msgType != null and msgDraft.msgType != ''">
            AND msg_type = #{msgDraft.msgType}
        </if>
        <if test="msgDraft.content != null and msgDraft.content != ''">
            AND content = #{msgDraft.content}
        </if>
        <if test="msgDraft.views != null and msgDraft.views != ''">
            AND views = #{msgDraft.views}
        </if>
        <if test="msgDraft.status != null and msgDraft.status != ''">
            AND status = #{msgDraft.status}
        </if>
        <if test="msgDraft.contacts != null and msgDraft.contacts != ''">
            AND contacts = #{msgDraft.contacts}
        </if>
        <if test="msgDraft.contactPhone != null and msgDraft.contactPhone != ''">
            AND contact_phone = #{msgDraft.contactPhone}
        </if>
    </select>
</mapper>
