<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MsgHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.MsgHistory">
    <result column="id" property="id" />
        <result column="msg_id" property="msgId" />
        <result column="openid" property="openid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        msg_id, openid,version
    </sql>

    <select id="selectPage" resultType="com.hoioy.jiayin.domain.MsgHistory">
        select
           <include refid="Base_Column_List" />
        from
           jiayin_msg_history
        where
           flag=1
        <if test="msgHistory.msgId != null and msgHistory.msgId != ''">
            AND msg_id = #{msgHistory.msgId}
        </if>
        <if test="msgHistory.userId != null and msgHistory.userId != ''">
            AND user_id = #{msgHistory.userId}
        </if>
    </select>
</mapper>
