<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MsgPublishedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.MsgPublished">
    <result column="id" property="id" />
    <result column="created_by" property="createdBy" />
    <result column="flag" property="flag" />
        <result column="msg_id" property="msgId" />
        <result column="openid" property="openid" />
        <result column="created_date" property="createdDate" />
        <result column="msg_table_name" property="msgTableName" />
        <result column="msg_title" property="msgTitle" />
        <result column="msg_type_id" property="msgTypeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        his.id,his.created_date,his.flag,his.created_by, his.modified_by, his.modified_date,his.remark,
        his.msg_id, his.openid, his.msg_table_name, his.msg_title,
        mst.type_name as msg_type_name,mst.id as msg_type_id,mst.color as msg_type_color
    </sql>

    <select id="selectPage" resultType="java.util.Map" >
        select
           <include refid="Base_Column_List" />
        from
           jiayin_msg_published his
        left join jiayin_msg_type mst on his.msg_type_id=mst.id
        where
        his.flag=1
        <if test="msgPublished.msgId != null and msgPublished.msgId != ''">
            AND his.msg_id = #{msgPublished.msgId}
        </if>
        <if test="msgPublished.openid != null and msgPublished.openid != ''">
            AND his.openid = #{msgPublished.openid}
        </if>
        <if test="msgPublished.modifiedBy != null and msgPublished.modifiedBy != ''">
            AND his.updated_by = #{msgPublished.modifiedBy}
        </if>
        <if test="msgPublished.createdDate != null and msgPublished.createdDate != ''">
            AND his.create_date = #{msgPublished.createdDate}
        </if>
        <if test="msgPublished.modifiedDate != null and msgPublished.modifiedDate != ''">
            AND his.update_date = #{msgPublished.modifiedDate}
        </if>
        <if test="msgPublished.msgTableName != null and msgPublished.msgTableName != ''">
            AND his.msg_table_name = #{msgPublished.msgTableName}
        </if>
        <if test="msgPublished.msgTitle != null and msgPublished.msgTitle != ''">
            AND his.msg_title = #{msgPublished.msgTitle}
        </if>
    </select>

    <update id="updateByPubilshId" parameterType="com.hoioy.jiayin.domain.MsgPublished">
        update jiayin_msg_published
        <set>
            <if test="msgTableName != null and msgTableName != ''">msg_table_name = #{msgTableName},</if>
            <if test="msgTitle != null and msgTitle != ''">msg_title = #{msgTitle},</if>
        </set>
        where msg_id = #{msgId}
    </update>
<!--    <update id="updatePublished">-->
<!--        update jiayin_msg_published-->
<!--        <set>-->
<!--            <if test="msgTitle != null and msgTitle != ''">msg_title = #{msgTitle},</if>-->
<!--        </set>-->
<!--        where msg_id = #{dto.id} and msg_table_name=#{msgTableName} and openid=#{openid}-->
<!--    </update>-->
</mapper>
