<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.MsgTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.MsgType">
    <result column="id" property="id" />
        <result column="type_name" property="typeName" />
        <result column="money" property="money" />
        <result column="expiry_date" property="expiryDate" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="color" property="color" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        type_name, money, expiry_date,created_date,modified_date,created_by,created_by,icon,path,color
    </sql>

    <select id="selectPage" resultType="com.hoioy.jiayin.domain.MsgType">
        select
           <include refid="Base_Column_List" />
        from
           jiayin_msg_type
        where
           flag=1
        <if test="msgType.typeName != null and msgType.typeName != ''">
            AND type_name = #{msgType.typeName}
        </if>
        <if test="msgType.money != null and msgType.money != ''">
            AND money = #{msgType.money}
        </if>
        <if test="msgType.expiryDate != null and msgType.expiryDate != ''">
            AND expiry_date = #{msgType.expiryDate}
        </if>
    </select>
</mapper>
