<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.Notice">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="remark" property="remark"/>
        <result column="flag" property="flag"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id,flag,created_by, created_date, modified_by, modified_date,remark,
       content
    </sql>

    <select id="selectPage" resultType="com.hoioy.jiayin.domain.Notice">
        select
        <include refid="Base_Column_List"/>
        from
        notice u
        where u.flag=1
        <if test="noticeDTO.createdBy != null and noticeDTO.createdBy != ''">
            AND u.created_by = #{noticeDTO.createdBy}
        </if>
        <if test="noticeDTO.createdDate != null and noticeDTO.createdDate != ''">
            AND u.created_date = #{noticeDTO.createdDate}
        </if>
        <if test="noticeDTO.modifiedBy != null and noticeDTO.modifiedBy != ''">
            AND u.modified_by = #{noticeDTO.modifiedBy}
        </if>
        <if test="noticeDTO.modifiedDate != null and noticeDTO.modifiedDate != ''">
            AND u.modified_date = #{noticeDTO.modifiedDate}
        </if>
        <if test="noticeDTO.content != null and noticeDTO.content != ''">
            AND u.content = #{noticeDTO.content}
        </if>
    </select>
</mapper>
