<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.jiayin.mapper.PublishHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.jiayin.domain.PublishHistory">
    <result column="id" property="id" />
    <result column="created_by" property="createdBy" />
    <result column="flag" property="flag" />
        <result column="publish_id" property="publishId" />
        <result column="openid" property="openid" />
        <result column="created_date" property="createdDate" />
        <result column="publish_type" property="publishType" />
        <result column="publish_title" property="publishTitle" />
        <result column="msg_type_id" property="msgTypeId" />
        <result column="type_name" property="msgTypeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        his.id,
        his.flag,
        publish_id, his.openid, publish_type, publish_title,his.created_date,type_name,msg_type_id
    </sql>

    <select id="selectPage" resultMap="BaseResultMap" >
        select
           <include refid="Base_Column_List" />
        from
           jiayin_publish_history his
        left join jiayin_msg_type msgType on his.msg_type_id=msgType.id
        where
        his.flag=1
        <if test="publishHistory.publishId != null and publishHistory.publishId != ''">
            AND publish_id = #{publishHistory.publishId}
        </if>
        <if test="publishHistory.openid != null and publishHistory.openid != ''">
            AND openid = #{publishHistory.openid}
        </if>
        <if test="publishHistory.modifiedBy != null and publishHistory.modifiedBy != ''">
            AND updated_by = #{publishHistory.modifiedBy}
        </if>
        <if test="publishHistory.createdDate != null and publishHistory.createdDate != ''">
            AND create_date = #{publishHistory.createdDate}
        </if>
        <if test="publishHistory.modifiedDate != null and publishHistory.modifiedDate != ''">
            AND update_date = #{publishHistory.modifiedDate}
        </if>
        <if test="publishHistory.publishType != null and publishHistory.publishType != ''">
            AND publish_type = #{publishHistory.publishType}
        </if>
        <if test="publishHistory.publishTitle != null and publishHistory.publishTitle != ''">
            AND publish_title = #{publishHistory.publishTitle}
        </if>
    </select>
    <update id="updateByPubilshId" parameterType="com.hoioy.jiayin.domain.PublishHistory">
        update jiayin_publish_history
        <set>
            <if test="publishType != null and publishType != ''">publish_type = #{publishType},</if>
            <if test="publishTitle != null and publishTitle != ''">publish_title = #{publishTitle},</if>
        </set>
        where publish_id = #{publishId}
    </update>
    <update id="updatePublishHistory">
        update jiayin_publish_history
        <set>
            <if test="publishTitle != null and publishTitle != ''">publish_title = #{publishTitle},</if>
        </set>
        where publish_id = #{dto.id} and publish_type=#{publishType} and openid=#{openid}
    </update>
</mapper>
