<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.diamond.sys.mapper.DataItemMapper">
    <resultMap id="MapperResultMap" type="com.hoioy.diamond.sys.domain.DataItem">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="code" property="code"/>
        <result column="code_index" property="codeIndex"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <result column="parent_id" property="parentId"/>
        <result column="data_item_type_id" property="dataItemTypeId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        flag,
        created_by, created_date, modified_by, modified_date, code, code_index, name, remark, state, parent_id
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="selectPage_Column_List">
        di.id,
        di.flag,
        di.created_by, di.created_date, di.modified_by, di.modified_date, di.code, di.code_index, di.name, di.remark, di.state, di.parent_id,
         dit.id as data_item_type_id,dit.type_name as data_item_type_name
    </sql>
    <select id="selectPage" resultType="java.util.Map">
        select
        <include refid="selectPage_Column_List"/>
        from
        data_item di
        LEFT JOIN data_item_type dit ON di.data_item_type_id = dit.id
        where
        di.flag=1
        <if test="dataItem.code != null and dataItem.code != ''">
            AND code = #{dataItem.code}
        </if>
        <if test="dataItem.dataItemTypeId != null and dataItem.dataItemTypeId != ''">
            AND data_item_type_id = #{dataItem.dataItemTypeId}
        </if>
        <if test="dataItem.name != null and dataItem.name != ''">
            AND name LIKE "%"#{dataItem.name}"%"
        </if>
        <if test="dataItem.parentId != null and dataItem.parentId != ''">
            AND parent_id = #{dataItem.parentId}
        </if>
    </select>
    <select id="findByDataItemTypeId" resultMap="MapperResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        data_item
        where
        flag=1
        and data_item_type_id in
        <foreach collection="dataItemTypeIds" item="dataItemTypeId" index="index" open="(" close=")" separator=",">
            #{dataItemTypeId}
        </foreach>
    </select>


</mapper>
