<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.diamond.sys.mapper.DeptUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.diamond.sys.domain.DeptUser">
        <id column="dept_id" property="deptId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, user_id
    </sql>
    <select id="findDeptIdsByUserIds" resultType="string">
        select
        dept_id
        FROM
        dept_user
        WHERE
        user_id in
        <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>
    <select id="findUserIdsByDeptIds" resultType="string">
        select
        user_id
        FROM
        dept_user
        WHERE
        dept_id in
        <foreach collection="deptIds" item="deptId" index="index" open="(" close=")" separator=",">
            #{deptId}
        </foreach>
    </select>
</mapper>
