<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.diamond.sys.mapper.ParameterInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.diamond.sys.domain.ParameterInfo">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="parameter_key" property="parameterKey"/>
        <result column="parameter_name" property="parameterName"/>
        <result column="parameter_value" property="parameterValue"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        flag,
        created_by, created_date, modified_by, modified_date, parameter_key, parameter_name, parameter_value, remark
    </sql>
    <select id="findIdsByParameterKeys" resultType="string">
        select
        id
        from
        parameter_info
        where
        flag=1 and
        parameter_key in
        <foreach collection="parameterKeys" item="parameterKey" index="index" open="(" close=")" separator=",">
            #{parameterKey}
        </foreach>
    </select>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        parameter_info
        where
        flag=1
        <if test="parameterInfo.createdBy != null and parameterInfo.createdBy != ''">
            AND created_by = #{parameterInfo.createdBy}
        </if>
        <if test="parameterInfo.createdDate != null and parameterInfo.createdDate != ''">
            AND created_date = #{parameterInfo.createdDate}
        </if>
        <if test="parameterInfo.modifiedBy != null and parameterInfo.modifiedBy != ''">
            AND modified_by = #{parameterInfo.modifiedBy}
        </if>
        <if test="parameterInfo.modifiedDate != null and parameterInfo.modifiedDate != ''">
            AND modified_date = #{parameterInfo.modifiedDate}
        </if>
        <if test="parameterInfo.parameterKey != null and parameterInfo.parameterKey != ''">
            AND parameter_key = #{parameterInfo.parameterKey}
        </if>
        <if test="parameterInfo.parameterName != null and parameterInfo.parameterName != ''">
            AND parameter_name = #{parameterInfo.parameterName}
        </if>
        <if test="parameterInfo.parameterValue != null and parameterInfo.parameterValue != ''">
            AND parameter_value = #{parameterInfo.parameterValue}
        </if>
        <if test="parameterInfo.remark != null and parameterInfo.remark != ''">
            AND remark = #{parameterInfo.remark}
        </if>
    </select>
</mapper>
