<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.diamond.sys.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.diamond.sys.domain.UserInfo">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="address" property="address"/>
        <result column="avatar" property="avatar"/>
        <result column="avatar_content" property="avatarContent"/>
        <result column="birthday" property="birthday"/>
        <result column="blog" property="blog"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="id_number" property="idNumber"/>
        <result column="integral" property="integral"/>
        <result column="login_name" property="loginName"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <result column="tag" property="tag"/>
        <result column="user_index" property="userIndex"/>
        <result column="user_name" property="userName"/>
        <result column="experience" property="experience"/>
        <result column="balance" property="balance"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        flag,
        created_by, created_date, modified_by, modified_date, address, avatar, avatar_content, birthday, blog, email, gender, id_number, integral, login_name, nickname, phone_num, remark, state, tag, user_index, user_name,
        experience,balance
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="Page_Column_List">
        u.id,u.flag,u.created_by, u.created_date, u.modified_by, u.modified_date, u.remark, u.state,
        u.address, u.avatar, u.avatar_content, u.birthday,u.blog, u.email, u.gender, u.id_number, u.integral,
        u.login_name, u.nickname, u.phone_num, u.tag, u.user_index, u.user_name,u.experience,u.balance
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        user_info
        where
        flag=1
        <if test="userInfo.createdBy != null and userInfo.createdBy != ''">
            AND created_by = #{userInfo.createdBy}
        </if>
        <if test="userInfo.createdDate != null and userInfo.createdDate != ''">
            AND created_date = #{userInfo.createdDate}
        </if>
        <if test="userInfo.modifiedBy != null and userInfo.modifiedBy != ''">
            AND modified_by = #{userInfo.modifiedBy}
        </if>
        <if test="userInfo.modifiedDate != null and userInfo.modifiedDate != ''">
            AND modified_date = #{userInfo.modifiedDate}
        </if>
        <if test="userInfo.address != null and userInfo.address != ''">
            AND address = #{userInfo.address}
        </if>
        <if test="userInfo.avatar != null and userInfo.avatar != ''">
            AND avatar = #{userInfo.avatar}
        </if>
        <if test="userInfo.avatarContent != null and userInfo.avatarContent != ''">
            AND avatar_content = #{userInfo.avatarContent}
        </if>
        <if test="userInfo.birthday != null and userInfo.birthday != ''">
            AND birthday = #{userInfo.birthday}
        </if>
        <if test="userInfo.blog != null and userInfo.blog != ''">
            AND blog = #{userInfo.blog}
        </if>
        <if test="userInfo.email != null and userInfo.email != ''">
            AND email = #{userInfo.email}
        </if>
        <if test="userInfo.gender != null and userInfo.gender != ''">
            AND gender = #{userInfo.gender}
        </if>
        <if test="userInfo.idNumber != null and userInfo.idNumber != ''">
            AND id_number = #{userInfo.idNumber}
        </if>
        <if test="userInfo.integral != null and userInfo.integral != ''">
            AND integral = #{userInfo.integral}
        </if>
        <if test="userInfo.loginName != null and userInfo.loginName != ''">
            AND login_name = #{userInfo.loginName}
        </if>
        <if test="userInfo.nickname != null and userInfo.nickname != ''">
            AND nickname = #{userInfo.nickname}
        </if>
        <if test="userInfo.password != null and userInfo.password != ''">
            AND password = #{userInfo.password}
        </if>
        <if test="userInfo.phoneNum != null and userInfo.phoneNum != ''">
            AND phone_num = #{userInfo.phoneNum}
        </if>
        <if test="userInfo.remark != null and userInfo.remark != ''">
            AND remark = #{userInfo.remark}
        </if>
        <if test="userInfo.state != null and userInfo.state != ''">
            AND state = #{userInfo.state}
        </if>
        <if test="userInfo.tag != null and userInfo.tag != ''">
            AND tag = #{userInfo.tag}
        </if>
        <if test="userInfo.userIndex != null and userInfo.userIndex != ''">
            AND user_index = #{userInfo.userIndex}
        </if>
        <if test="userInfo.userName != null and userInfo.userName != ''">
            AND user_name = #{userInfo.userName}
        </if>
        <if test="userInfo.experience != null and userInfo.experience != ''">
            AND experience = #{userInfo.experience}
        </if>
        <if test="userInfo.balance != null and userInfo.balance != ''">
            AND balance = #{userInfo.balance}
        </if>
    </select>
    <select id="findIdByLoginName" resultType="string">
        select
        id
        from
        user_info
        where
        flag=1 and login_name=#{loginName}
    </select>
    <select id="findByLoginName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        user_info
        where
        flag=1 and login_name=#{loginName}
    </select>
    <select id="findUsersByDeptId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        user_info ui
        left join
        dept_user du
        on du.user_id = ui.id
        where
        du.dept_id = #{deptId}
        and flag =1
    </select>
    <select id="findUserByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        dept_user du
        left join
        user_info ui
        on du.user_id = ui.id
        where
        du.dept_id = #{deptId}
        and flag =1
    </select>
    <select id="getUserOnlyByRoleIdOrDeptIdPage" resultType="java.util.Map">
        select
        distinct <include refid="Page_Column_List"/>
        from
        user_info u
        left join role_user ru on ru.user_id=u.id
        left join dept_user du on du.user_id=u.id
        where
        u.flag=1
        <if test="userInfoDTO.createdBy != null and userInfoDTO.createdBy != ''">
            AND u.created_by = #{userInfoDTO.createdBy}
        </if>
        <if test="userInfoDTO.createdDate != null and userInfoDTO.createdDate != ''">
            AND u.created_date = #{userInfoDTO.createdDate}
        </if>
        <if test="userInfoDTO.modifiedBy != null and userInfoDTO.modifiedBy != ''">
            AND u.modified_by = #{userInfoDTO.modifiedBy}
        </if>
        <if test="userInfoDTO.modifiedDate != null and userInfoDTO.modifiedDate != ''">
            AND u.modified_date = #{userInfoDTO.modifiedDate}
        </if>
        <if test="userInfoDTO.address != null and userInfoDTO.address != ''">
            AND u.address = #{userInfoDTO.address}
        </if>
        <if test="userInfoDTO.avatar != null and userInfoDTO.avatar != ''">
            AND u.avatar = #{userInfoDTO.avatar}
        </if>
        <if test="userInfoDTO.avatarContent != null and userInfoDTO.avatarContent != ''">
            AND u.avatar_content = #{userInfoDTO.avatarContent}
        </if>
        <if test="userInfoDTO.birthday != null and userInfoDTO.birthday != ''">
            AND u.birthday = #{userInfoDTO.birthday}
        </if>
        <if test="userInfoDTO.blog != null and userInfoDTO.blog != ''">
            AND u.blog = #{userInfoDTO.blog}
        </if>
        <if test="userInfoDTO.email != null and userInfoDTO.email != ''">
            AND u.email = #{userInfoDTO.email}
        </if>
        <if test="userInfoDTO.gender != null and userInfoDTO.gender != ''">
            AND u.gender = #{userInfoDTO.gender}
        </if>
        <if test="userInfoDTO.idNumber != null and userInfoDTO.idNumber != ''">
            AND u.id_number = #{userInfoDTO.idNumber}
        </if>
        <if test="userInfoDTO.integral != null and userInfoDTO.integral != ''">
            AND u.integral = #{userInfoDTO.integral}
        </if>
        <if test="userInfoDTO.loginName != null and userInfoDTO.loginName != ''">
            AND u.login_name = #{userInfoDTO.loginName}
        </if>
        <if test="userInfoDTO.nickname != null and userInfoDTO.nickname != ''">
            AND u.nickname = #{userInfoDTO.nickname}
        </if>
        <if test="userInfoDTO.password != null and userInfoDTO.password != ''">
            AND u.password = #{userInfoDTO.password}
        </if>
        <if test="userInfoDTO.phoneNum != null and userInfoDTO.phoneNum != ''">
            AND u.phone_num = #{userInfoDTO.phoneNum}
        </if>
        <if test="userInfoDTO.remark != null and userInfoDTO.remark != ''">
            AND u.remark = #{userInfoDTO.remark}
        </if>
        <if test="userInfoDTO.state != null and userInfoDTO.state != ''">
            AND u.state = #{userInfoDTO.state}
        </if>
        <if test="userInfoDTO.tag != null and userInfoDTO.tag != ''">
            AND u.tag = #{userInfoDTO.tag}
        </if>
        <if test="userInfoDTO.userIndex != null and userInfoDTO.userIndex != ''">
            AND u.user_index = #{userInfoDTO.userIndex}
        </if>
        <if test="userInfoDTO.userName != null and userInfoDTO.userName != ''">
            AND u.user_name = #{userInfoDTO.userName}
        </if>
        <if test="userInfoDTO.roleId != null and userInfoDTO.roleId != ''">
            AND ru.role_id = #{userInfoDTO.roleId}
        </if>
        <if test="userInfoDTO.deptId != null and userInfoDTO.deptId != ''">
            AND du.dept_id = #{userInfoDTO.deptId}
        </if>
        <if test="userInfoDTO.experience != null and userInfoDTO.experience != ''">
            AND experience = #{userInfo.experience}
        </if>
        <if test="userInfoDTO.balance != null and userInfoDTO.balance != ''">
            AND balance = #{userInfo.balance}
        </if>
    </select>
</mapper>