<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.diamond.jiayin.mapper.JiayinMsgHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.diamond.jiayin.domain.JiayinMsgHistory">
    <result column="id" property="id" />
        <result column="msg_id" property="msgId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        msg_id, user_id
    </sql>

    <select id="selectPage" resultType="com.hoioy.diamond.jiayin.domain.JiayinMsgHistory">
        select
           <include refid="Base_Column_List" />
        from
           jiayin_msg_history
        where
           flag=1
        <if test="jiayinMsgHistory.msgId != null and jiayinMsgHistory.msgId != ''">
            AND msg_id = #{jiayinMsgHistory.msgId}
        </if>
        <if test="jiayinMsgHistory.userId != null and jiayinMsgHistory.userId != ''">
            AND user_id = #{jiayinMsgHistory.userId}
        </if>
    </select>
</mapper>
